      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-color: #ff6830;
        background-image: url(./../images/left_card_background.png);
        }


        .row {
            margin-top: 6%;
        }


      main {
        flex: 0 0 auto;
      }

      #header {
        background-image: url(./../images/header_image.png);
        height: 135px;
        background-position: center;
      }

      .responsive-img {
          width: 125px;
      }


      #left-card {
          background-color: #db48db;
      }

      #gif-title {
          justify-content: center;
          text-align: center;
      }

      #gif-spot {
        display: flex;
        flex-wrap: wrap;
        background: transparent;
        text-align: center;
    }

    #gif-label {
        width: 350px;
    }
    
    #button-title {
          text-align: center;
    }

    #button-spot {
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    }


    #button-label {
        width: 350px;
        height: 233.33px;
    }

    #right-card {
        background-color: #72F9FA;
    }

    .footer {
      position: fixed;
      bottom: 0px;
      width: 100%;  
    }
